//
//  SignDebug.xcconfig
//  Tonkeeper
//
//  Created by Grigory on 29.9.23..
//

DEVELOPMENT_TEAM = 79JTKFP26M

CODE_SIGN_IDENTITY = Apple Development: Sergey Krapivenskiy
PROVISIONING_PROFILE_SPECIFIER = 7eae99e6-962e-4bd6-8b92-4b7ca1ddc748

WIDGET_CODE_SIGN_IDENTITY = Apple Development: Sergey Krapivenskiy
WIDGET_PROVISIONING_PROFILE_SPECIFIER = Dummy Contest Profile

INTENTS_CODE_SIGN_IDENTITY = Apple Development: Sergey Krapivenskiy
INTENTS_PROVISIONING_PROFILE_SPECIFIER = Dummy Contest Profile
