<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tonsign</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tonkeeper</string>
		<string>tonkeeperx</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ic-qr-viewfinder-outline-28</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Scan</string>
			<key>UIApplicationShortcutItemType</key>
			<string>ScanItemType</string>
		</dict>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>SupportURL</key>
	<string>https://t.me/tonkeeper_supportbot</string>
	<key>LegalURL</key>
	<string></string>
	<key>TermsOfServiceURL</key>
	<string>https://tonkeeper.com/terms</string>
	<key>PrivacyPolicyURL</key>
	<string>https://tonkeeper.com/privacy</string>
	<key>TonkeeperAppStoreURL</key>
	<string>https://apps.apple.com/ru/app/tonkeeper-ton-wallet/id1587742107</string>
</dict>
</plist>
