<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_NAME</key>
	<string>$(APP_NAME)</string>
	<key>ContactUsURL</key>
	<string>$(ContactUsURL)</string>
	<key>TonkeeperNewsURL</key>
	<string>$(TonkeeperNewsURL)</string>
	<key>SupportURL</key>
	<string>$(SupportURL)</string>
	<key>APP_GROUP_IDENTIFIER</key>
	<string>$(APP_GROUP_IDENTIFIER)</string>
	<key>AppIdentifierPrefix</key>
	<string>$(AppIdentifierPrefix)</string>
	<key>KEYCHAIN_ACCESS_GROUP</key>
	<string>$(KEYCHAIN_ACCESS_GROUP)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>BalanceWidgetIntent</string>
		<string>ChartWidgetIntent</string>
		<string>RateWidgetIntent</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSFaceIDUsageDescription</key>
	<string>Tonkeeper uses biometric authentication to authorize transactions</string>
</dict>
</plist>
