//
//  Base.xcconfig
//  Tonkeeper
//
//  Created by Grigory on 29.9.23..
//

APP_NAME = Tonkeeper X

BUNDLE_DISPLAY_NAME = $(APP_NAME)

BASE_BUNDLE_IDENTIFIER = com.evolve.videotest

PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)
WIDGET_PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER).widget
INTENTS_PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER).intents

APP_GROUP_IDENTIFIER = group.com.evolve.debug
OLD_APP_GROUP_IDENTIFIER = group.com.evolve.debug

KEYCHAIN_ACCESS_GROUP = $(BASE_BUNDLE_IDENTIFIER).shared
OLD_KEYCHAIN_ACCESS_GROUP = $(BASE_BUNDLE_IDENTIFIER).shared

APP_VERSION = 1.1
BUILD_NUMBER = 16

ASSOCIATED_DOMAIN_APPLINKS_FIRST = applinks:app.tonkeeper.com
ASSOCIATED_DOMAIN_APPLINKS_SECOND = applinks:app.tonkeeper.org
