//
//  Base.xcconfig
//  Tonkeeper
//
//  Created by Grigory on 29.9.23..
//

APP_NAME = Tonkeeper X

BUNDLE_DISPLAY_NAME = $(APP_NAME)

BASE_BUNDLE_IDENTIFIER = com.tonapps.tonkeeperx

PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)
WIDGET_PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER).widget
INTENTS_PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER).intents

APP_GROUP_IDENTIFIER = group.$(BASE_BUNDLE_IDENTIFIER)
OLD_APP_GROUP_IDENTIFIER = group.app.com.jbig.tonkeeperx

KEYCHAIN_ACCESS_GROUP = $(BASE_BUNDLE_IDENTIFIER).shared
OLD_KEYCHAIN_ACCESS_GROUP = com.jbig.tonkeeperx.shared

APP_VERSION = 1.1
BUILD_NUMBER = 17

ASSOCIATED_DOMAIN_APPLINKS_FIRST = applinks:app.tonkeeper.com
ASSOCIATED_DOMAIN_APPLINKS_SECOND = applinks:app.tonkeeper.org
