//
//  Debug.xcconfig
//  Tonkeeper
//
//  Created by Grigory on 29.9.23..
//

#include "Base.xcconfig"
#include "Signing/SignDebug.xcconfig"

BUNDLE_DISPLAY_NAME = $(APP_NAME) Debug

PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER).debug
WIDGET_PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER).debug.widget
INTENTS_PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER).debug.intents
