
APP_NAME = Tonkeeper X

BUNDLE_DISPLAY_NAME = $(APP_NAME)

BASE_BUNDLE_IDENTIFIER = com.tonapps.tonkeeperx

BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)

PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_IDENTIFIER)
WIDGET_PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_IDENTIFIER).widget
INTENTS_PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_IDENTIFIER).intents

APP_GROUP_IDENTIFIER = group.$(BASE_BUNDLE_IDENTIFIER)

KEYCHAIN_ACCESS_GROUP = $(BASE_BUNDLE_IDENTIFIER).shared

APP_VERSION = 1.1
BUILD_NUMBER = 21

ASSOCIATED_DOMAIN_APPLINKS_FIRST = applinks:app.tonkeeper.com
ASSOCIATED_DOMAIN_APPLINKS_SECOND = applinks:app.tonkeeper.org
