
#include "Tonkeeper.xcconfig"

APP_NAME = Tonkeeper UK

BUNDLE_DISPLAY_NAME = $(APP_NAME)
ICON_NAME = AppIcon

BASE_BUNDLE_IDENTIFIER = com.jbig.tonkeeper.uk

BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)

PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_IDENTIFIER)
WIDGET_PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_IDENTIFIER).widget
INTENTS_PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_IDENTIFIER).intents
