
APP_NAME = Tonkeeper

BUNDLE_DISPLAY_NAME = $(APP_NAME)
ICON_NAME = AppIcon

BASE_BUNDLE_IDENTIFIER = com.jbig.tonkeeper

BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)

PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_IDENTIFIER)
WIDGET_PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_IDENTIFIER).widget
INTENTS_PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_IDENTIFIER).intents

APP_GROUP_IDENTIFIER = group.$(BASE_BUNDLE_IDENTIFIER)

KEYCHAIN_ACCESS_GROUP = $(BASE_BUNDLE_IDENTIFIER).shared

APP_VERSION = 5.0.0
BUILD_NUMBER = 9

PLATFORM = ios

ASSOCIATED_DOMAIN_APPLINKS_FIRST = applinks:app.tonkeeper.com
ASSOCIATED_DOMAIN_APPLINKS_SECOND = applinks:app.tonkeeper.org

APTABASE_KEY = A-SH-6199502298
APTABASE_ENDPOINT = https:/$()/anonymous-analytics.tonkeeper.com/

TERMS_OF_SERVICE_URL = https:/$()/tonkeeper.com/terms
PRIVACY_POLICY_URL = https:/$()/tonkeeper.com/privacy
