
#include "TonkeeperX.xcconfig"

BUNDLE_DISPLAY_NAME = $(APP_NAME) Debug

BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER).debug

PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_IDENTIFIER)
WIDGET_PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_IDENTIFIER).widget
INTENTS_PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_IDENTIFIER).intents
